build/*
output/*
output_*/*
.vscode/
benchmark/**/*.png
__pycache__/
**/output/*
**/obj_dir/*
python_tools/experiment_runner/log/*
python_tools/experiment_runner/tmp_cgra/*
license/gurobi.lic
garbage/*
